### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.xml
local.properties
.settings/
.loadpath
.recommenders
loanCalculation/loanCalculation.xml

.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

.idea/*
